.contenido {
  padding-top: 40px;
  background:  url(../../assets/fondocool.png);
  background-repeat: no-repeat;
  background-size: cover;  
  height: 100vh; 
  overflow-x: hidden;
  margin-left: 45px; 
  width: calc(100% - 60px);
}
.contenido-extendido {
  margin-left: 220px; 
  width: calc(100% - 220px);
}