/* Por favor no modificar el codigo altera todas las tablas */
.contenido {
  padding-top: 40px;
  background-color: #D5DBDB;
  background-repeat: no-repeat;
  background-size: cover;  
  height: 100vh; 
  overflow-x: hidden;
  margin-left: 60px; 
  width: calc(100% - 60px);
}
.contenido-extendido {
  margin-left: 220px; 
  width: calc(100% - 220px);
}