/* .contenidos{
    margin-top: 45px; 
    height: auto; 
    overflow-x: hidden; 
    background-color: #EDEBDE;
    margin-left: 60px;
  }
  .contenido-extendidos {
    margin-left: 220px; 
    width: calc(100% - 220px); 
  }
 */
 .contenidos {
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: cover;  
  height: auto; 
  overflow-x: hidden;
  margin-left: 60px; 
  width: calc(100% - 60px);
}
.contenido-extendidos {
  margin-left: 220px; 
  width: calc(100% - 220px);
}



